.timer__timeCount{
    font-size: 90px;
    text-align: center;
    color:#4CF5F5
}
.timer__buttons{
    display: flex;
    justify-content: space-around;
}
.timer{
    position: relative;
    top:15vh;
}